<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    {% include "quotes/static.html" %}   
  </head>
  <body>
    {% include "quotes/messages_template.html" %}   
    <a href='/logout'>sign out</a>
    <br/>
    <a href='/users/my_account'>edit my account</a>

    <form action='/quotes/create' method='post'>
      {% csrf_token %}
      <div class="container foo">
        <h1 id='foo'>Welcome {{ user.first_name }}!</h1>
        <h3 class='foo'>Add A Quote</h3>
        <hr>

        <label for="author"><b>Author</b></label>
        <input type="text" placeholder="Enter Author's Name" name="author">

        <label for="description"><b>Quote</b></label>
        <input type="text" placeholder="Enter Quote" name="description">
        <hr>
        <button type="submit" class="registerbtn">Submit</button>
      </div>
    </form>
    <h3>Quote Wall</h3>

    <ul class="messages">
      {% for quote in quotes %}
        <h4>{{ quote.author }} - {{ quote.description}}</h4>
        <h5> {% if quote.likeable %} <a href='/quotes/like/{{quote.id}}'>&#8607;</a> {% endif %} {{quote.likes}} Likes</h5>
        
        <h5>Posted By: <a href="users/{{quote.posted_by_id}}">{{quote.posted_by}}</a></h5>

        {% if quote.deletable %}
        <h5><a href="quotes/destroy/{{quote.id}}">delete</a></h5>
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>
