<!DOCTYPE html>
<html>
  {% include "quotes/head.html" %}   
  <body>
    {% include "quotes/messages_template.html" %}   
    <form action='/register/' method='post'>
      {% csrf_token %}
      <div class="container">
        <h1>Registration</h1>
        <h2>Register</h2>
        <p>Please fill in this form to create an account.</p>
        <div class="form-group">
          <label for="first_name"><b>First Name</b></label>
          <input class="form-control" type="text" placeholder="First Name" name="first_name" required>
        </div>

        <div class="form-group">
          <label for="last_name"><b>Last Name</b></label>
          <input class="form-control" type="text" placeholder="Last Name" name="last_name" required>
        </div>

        <div class="form-group">
          <label for="email"><b>Email</b></label>
          <input class="form-control" type="text" placeholder="Enter Email" name="email" required>
        </div>

        <div class="form-group">
          <label for="psw"><b>Password</b></label>
          <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
        </div>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation" required>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
    <form action='/login/' method='post'>
      {% csrf_token %}
      <div class="container">
        <h2>Login</h2>
        <div class="form-group">
          <label for="email"><b>Email</b></label>
          <input class="form-control" type="text" placeholder="Enter Email" name="email" required>
        </div>

        <div class="form-group">
          <label for="password"><b>Password</b></label>
          <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
        </div>
        <button type="submit" class="registerbtn">Login</button>
      </div>
    </form>
  </body>
</html>
