<!DOCTYPE html>
<html>
  {% include "quotes/head.html" %}   
  <body>
    <nav class="navbar navbar-dark bg-faded">
        <a class="navbar-brand" href="/logout">Sign Out</a>
        <a class="navbar-brand" href="/quotes">Dashboard</a>
    </nav>

    {% include "quotes/messages_template.html" %}   
    <div class="container">
      <div class="row">
        <h2>User Profile for {{user.first_name}} {{user.last_name}}</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <form action='/users/edit/{{user.id}}' method='post'>
            {% csrf_token %}
            <div class="container">
              <h3>Edit Your Details</h3>
              <hr>
              <div class="form-group">
                <label for="first_name"><b>First Name</b></label>
                <input class="form-control" type="text" placeholder="First Name" name="first_name" value={{user.first_name}} >
              </div>

              <div class="form-group">
                <label for="last_name"><b>Last Name</b></label>
                <input class="form-control" type="text" placeholder="Last Name" name="last_name" value={{user.last_name}} >
              </div>

              <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input class="form-control" type="text" placeholder="Enter Email" name="email" value={{user.email}} >
              </div>

              <button type="submit" class="registerbtn">Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
